@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2f0f1;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


h1{
  background-color: #F2F0F1;
}